@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manuale:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body.no-scroll {
   overflow: hidden;
}

body {
   overflow-x: hidden;
   padding: 0 0 30px 0;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all 0.2s;
   border: 0px;

   color: rgba(255, 255, 255, 1);

   font-family: "Montserrat", sans-serif;
   font-size: 20px;
   font-weight: 400;
}

button {
   cursor: pointer;

   // &:hover {
   //    transform: scale(1.05);
   // }
}

a {
   text-decoration: none;
   color: white;
}
