$body-color: rgba(24, 24, 24, 1);
$header-color: rgba(40, 40, 40, 1);
$block-main: rgba(38, 38, 38, 1);

$icon_prof: linear-gradient(
  180deg,
  rgba(0, 72, 142, 1),
  rgba(110, 17, 237, 1) 100%
);

$icon-fire: linear-gradient(
  180deg,
  rgba(142, 83, 0, 1),
  rgba(255, 94, 32, 1) 100%
);

$icon_port: linear-gradient(
  180deg,
  rgba(82, 0, 142, 1),
  rgba(126, 32, 255, 1) 100%
);

$rg-color: linear-gradient(
  182.62deg,
  rgba(82, 0, 142, 1) -1.457%,
  rgba(114.69, 23.78, 225.97, 1) 142.012%,
  rgba(126, 32, 255, 1) 191.621%
);
