@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manuale:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body.no-scroll {
  overflow: hidden;
}

body {
  overflow-x: hidden;
  padding: 0 0 30px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
  border: 0px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: normal;
  background: rgb(24, 24, 24);
  position: relative;
}

.market_con1 {
  width: 98%;
  padding: 10px;
  margin-top: 110px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgb(40, 40, 40);
}
@media (max-width: 750px) {
  .market_con1 {
    margin-top: 90px;
  }
}
@media (max-width: 450px) {
  .market_con1 {
    margin-top: 80px;
    padding: 5px;
  }
}
.market_con1_con {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .market_con1_con {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.market_con1_blockcon {
  width: 80%;
}
@media (max-width: 750px) {
  .market_con1_blockcon {
    width: 100%;
  }
}
.market_con1_blockcon1 {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.329);
  padding: 0 0 20px 0;
}
@media (max-width: 750px) {
  .market_con1_blockcon1 {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.market_con1_blockcon1 .con_market_con1_blockcon1 {
  display: flex;
  gap: 10px;
}
.market_con1_blockcon1_category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.158);
  background: rgba(102, 102, 102, 0.151);
  color: rgb(214, 214, 214);
}
@media (max-width: 750px) {
  .market_con1_blockcon1_category {
    font-size: 10px;
    font-weight: 600;
    padding: 5px;
    border-radius: 20px;
  }
}
@media (max-width: 450px) {
  .market_con1_blockcon1_category {
    font-size: 8px;
    font-weight: 600;
    padding: 1px 3px;
    border-radius: 20px;
  }
}
.market_con1_blockcon1_category .material_category {
  color: rgb(214, 214, 214);
}
@media (max-width: 750px) {
  .market_con1_blockcon1_category .material_category {
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;
  }
}
@media (max-width: 450px) {
  .market_con1_blockcon1_category .material_category {
    font-size: 10px;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;
  }
}
.market_con1_blockcon1_category:hover {
  transform: scale(1.1);
  border: 1px solid #7a4ef3;
}
.market_con1_blockcon1 .market_con1_blockcon1_srch {
  position: relative;
  width: 40%;
  margin-left: auto;
}
@media (max-width: 750px) {
  .market_con1_blockcon1 .market_con1_blockcon1_srch {
    margin-left: 0;
    width: 100%;
  }
}
.market_con1_blockcon1 .active_category {
  border: 1px solid #7a4ef3;
  box-sizing: border-box;
  border: 0.5px solid rgb(129, 66, 216);
  border-radius: 20px;
  box-shadow: 0px 0px 40px 0px rgba(102, 23, 232, 0.7);
  background: linear-gradient(151.96deg, rgba(123, 31, 250, 0.94) -2.612%, rgba(60, 22, 158, 0.94) 128.153%);
}
.market_con1_blockcon1 .market_con1_blockcon1_srch_search {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.224);
  background: rgba(102, 102, 102, 0.226);
  border-radius: 20px;
  color: white;
  padding: 12px 50px;
  font-size: 15px;
}
@media (max-width: 500px) {
  .market_con1_blockcon1 .market_con1_blockcon1_srch_search {
    padding: 5px 50px;
  }
}
.market_con1_blockcon1 .material_category_search {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgb(216, 216, 216);
}
.market_con1 .market_con1_con_butt {
  position: absolute;
  top: 30%;
  right: 1%;
  width: 15%;
  height: 100%;
}
@media (max-width: 1100px) {
  .market_con1 .market_con1_con_butt {
    top: 0%;
    right: 0%;
    width: 18%;
  }
}
@media (max-width: 900px) {
  .market_con1 .market_con1_con_butt {
    position: static;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0 20px 0 0;
  }
}
.market_con1 .market_con1_con_butt_button {
  margin-top: 10px;
  border: 1px solid rgb(129, 66, 216);
  border-radius: 20px;
  box-shadow: 0px 0px 50px 0px rgba(102, 23, 232, 0.6);
  background: linear-gradient(153.55deg, rgba(123, 31, 250, 0.94) 5.771%, rgba(60, 22, 158, 0.94) 128.701%);
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
}
.market_con1 .market_con1_con_butt_button a {
  color: rgb(40, 40, 40);
  font-size: 19px;
  font-weight: 650;
}
@media (max-width: 600px) {
  .market_con1 .market_con1_con_butt_button a {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  .market_con1 .market_con1_con_butt_button {
    padding: 10px;
    gap: 2px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
    width: 40%;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .market_con1 .market_con1_con_butt_button {
    gap: 10px;
    width: 100%;
    margin-top: -10px;
  }
}
.market_con1 .market_con1_con_butt_button .material-symbols-outlined {
  color: rgb(40, 40, 40);
  font-size: 25px;
  font-weight: 800;
}
@media (max-width: 600px) {
  .market_con1 .market_con1_con_butt_button .material-symbols-outlined {
    font-size: 15px;
  }
}
.market_con1 .market_con1_con_butt_button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 50px 0px rgba(112, 24, 255, 0.811);
}
.market_con1_con2 {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 20px;
}
@media (max-width: 1100px) {
  .market_con1_con2 {
    flex-direction: column;
    align-items: normal;
    gap: 10px;
  }
}
.market_con1_con2_h1 {
  cursor: default;
}
@media (max-width: 600px) {
  .market_con1_con2_h1 {
    font-size: 15px;
  }
}
.market_con1_con2 .sort1,
.market_con1_con2 .sort2 {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 500px) {
  .market_con1_con2 .sort1,
  .market_con1_con2 .sort2 {
    gap: 5px;
  }
}
.market_con1_con2 .sort_btn {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 15px;
}
@media (max-width: 500px) {
  .market_con1_con2 .sort_btn {
    font-size: 12px;
    padding: 5px 10px 0px 10px;
  }
}
.market_con1_con2 .sort {
  min-width: 200px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid rgba(141, 141, 141, 0.278);
  border-radius: 20px;
  background: rgba(24, 24, 24, 0.272);
}
@media (max-width: 500px) {
  .market_con1_con2 .sort {
    gap: 5px;
    min-width: 100px;
    padding: 2px;
  }
}
.market_con1_con2 .sort:hover {
  background: rgba(15, 15, 15, 0.509);
}
.market_con1_con2 .sort_list {
  padding: 5px;
  position: absolute;
  top: 100%;
  width: 300px;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border: 1px solid rgb(141, 141, 141);
  border-radius: 20px;
  background: rgb(25, 25, 25);
  top: 110%;
}
@media (max-width: 500px) {
  .market_con1_con2 .sort_list {
    width: 200px;
  }
}
.market_con1_con2 .sort_list .sort_items {
  font-size: 15px;
  padding: 2px;
  text-align: center;
  width: 100%;
}
@media (max-width: 500px) {
  .market_con1_con2 .sort_list .sort_items {
    font-size: 13px;
  }
}
.market_con1_con2 .sort_list .sort_items:hover {
  background: rgb(42, 42, 42);
}

.market_con2 {
  display: flex;
  padding: 10px 40px;
  width: 98%;
  border: 1.5px solid rgb(47, 31, 90);
  border-radius: 15px;
  background: linear-gradient(169.02deg, rgb(34, 29, 44) 45.924%, rgba(34, 29, 44, 0) 126.28%);
  opacity: 0.9;
  margin-top: 15px;
  margin-bottom: 15px;
  gap: 80px;
}
@media (max-width: 800px) {
  .market_con2 {
    gap: 50px;
  }
}
@media (max-width: 500px) {
  .market_con2 {
    gap: 30px;
    margin-top: 10px;
  }
}
.market_con2_h1 {
  display: flex;
  gap: 20px;
  cursor: default;
}
@media (max-width: 800px) {
  .market_con2_h1 {
    gap: 5px;
  }
}
@media (max-width: 800px) {
  .market_con2_h1_offer, .market_con2_h1_myoffer, .market_con2_h1_cneterprice {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .market_con2_h1_offer, .market_con2_h1_myoffer, .market_con2_h1_cneterprice {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .market_con2_h1_offer, .market_con2_h1_myoffer, .market_con2_h1_cneterprice {
    font-size: 8px;
  }
}

.market_grid {
  width: 98%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
@media (max-width: 800px) {
  .market_grid {
    gap: 10px;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1600px) {
  .market_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 2500px) {
  .market_grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .market_grid {
    gap: 10px;
    margin-top: 0px;
  }
}
.market_grid .market_offer {
  border-radius: 15px;
  background: rgb(40, 40, 40);
  padding: 15px;
  border: 1px solid rgba(122, 78, 243, 0);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.market_grid .market_offer:hover {
  transform: scale(1.01);
  background: rgb(34, 34, 34);
  border: 1px solid #7a4ef3;
}
.market_grid .market_offer .offer_top {
  display: flex;
  position: relative;
}
.market_grid .market_offer .offer_top_con {
  display: flex;
  gap: 10px;
}
.market_grid .market_offer .offer_top_con .offer_top_znak {
  padding: 10px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(270deg, rgb(71, 164, 80), rgb(48, 114, 79) 100%);
  font-weight: 600;
  font-size: 16px;
}
.market_grid .market_offer .offer_top_con .offer_top_znak_buy {
  padding: 10px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(270deg, rgb(71, 96, 164), rgb(48, 104, 114) 100%);
  font-weight: 600;
  font-size: 16px;
}
.market_grid .market_offer .offer_top_con .offer_top_category {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: rgba(126, 32, 255, 0.85);
  padding: 5px;
  height: 27px;
  border: 2px solid rgba(126, 32, 255, 0.85);
  border-radius: 20px;
  background: rgba(84, 9, 184, 0.2);
  font-weight: 600;
}
.market_grid .market_offer .offer_top_con .offer_top_price {
  font-weight: 700;
  position: absolute;
  color: rgb(238, 238, 238);
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  background: linear-gradient(270deg, rgb(100, 7, 226) 0.422%, rgb(135, 69, 252) 100%);
}
.market_grid .market_offer .offer_center {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: auto;
}
.market_grid .market_offer .offer_center_h1 {
  font-size: 28px;
  font-weight: 700;
}
@media (max-width: 800px) {
  .market_grid .market_offer .offer_center_h1 {
    font-size: 20px;
  }
}
.market_grid .market_offer .offer_center_p {
  font-size: 18px;
  opacity: 0.8;
}
@media (max-width: 800px) {
  .market_grid .market_offer .offer_center_p {
    font-size: 15px;
  }
}
.market_grid .market_offer .offer_bot {
  margin-top: 20px;
  display: flex;
  position: relative;
}
.market_grid .market_offer .offer_bot .market_offer_profile {
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background: rgba(102, 102, 102, 0.222);
}
.market_grid .market_offer .offer_bot .market_offer_profile_ava {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url(../../img/2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.market_grid .market_offer .offer_bot .market_offer_profile .name_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.market_grid .market_offer .offer_bot .market_offer_profile .name_flex .market_offer_profile_name {
  font-weight: 600;
  font-size: 16px;
}
.market_grid .market_offer .offer_bot .market_offer_profile .name_flex .market_offer_profile_otziv {
  opacity: 0.7;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 13px;
  margin-left: 0px;
  font-weight: 600;
}
.market_grid .market_offer .offer_bot .market_offer_like {
  border: 3.5px solid rgb(86, 86, 86);
  border-radius: 20px;
  background: rgb(40, 40, 40);
  color: rgb(86, 86, 86);
  font-size: 16px;
  font-weight: 700;
  height: 30px;
  padding: 5px;
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.market_grid .market_offer .offer_bot .market_offer_like:hover {
  transform: scale(1.1);
}
.market_grid .market_offer .offer_bot .market_offer_like .material-symbols-outlined {
  font-size: 16px;
  color: rgb(86, 86, 86);
  font-weight: 800;
}
.market_grid .market_offer .offer_bot .market_offer_like.like_color {
  border: 3.5px solid rgba(255, 0, 0, 0.566);
  color: rgba(255, 0, 0, 0.566);
}
.market_grid .market_offer .offer_bot .market_offer_like.like_color .like_js_ico {
  font-variation-settings: "FILL" 1;
  color: rgba(255, 0, 0, 0.566);
}

.offer-highlight {
  position: relative;
  background-color: rgba(118, 21, 255, 0.299);
  color: rgba(255, 255, 255, 0.9137254902);
  padding: 2px 4px;
  border-radius: 5px;
  font-weight: 700;
}
.offer-highlight::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(123, 31, 250, 0.3);
  z-index: -1;
}

.modal_offer_con {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.804);
  backdrop-filter: blur(3px);
  z-index: 100;
}
@media (max-width: 1000px) {
  .modal_offer_con {
    height: 100%;
  }
}
.modal_offer_con .modal_offer {
  margin-top: 0;
  padding: 20px;
  max-width: 90%;
  width: 600px;
  height: 650px;
  border: 1px solid rgba(136, 69, 252, 0.657);
  border-radius: 30px;
  background: linear-gradient(144.38deg, rgb(41, 33, 49) 2.943%, rgba(40, 40, 40, 0.557) 108.479%);
}
@media (max-width: 1000px) {
  .modal_offer_con .modal_offer {
    padding: 10px;
  }
}
.modal_offer_con .modal_offer {
  overflow-y: auto;
  max-height: 85vh;
}
.modal_offer_con .modal_offer_top {
  display: flex;
  gap: 10px;
  cursor: default;
}
@media (max-width: 1000px) {
  .modal_offer_con .modal_offer_top {
    gap: 5px;
  }
}
.modal_offer_con .modal_offer_top_znak {
  padding: 10px;
  height: 3%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(270deg, rgb(71, 164, 80), rgb(48, 114, 79) 100%);
  font-weight: 600;
  font-size: 16px;
}
@media (max-width: 1000px) {
  .modal_offer_con .modal_offer_top_znak {
    font-size: 13px;
    padding: 5px;
  }
}
.modal_offer_con .modal_offer_top_znak_buy {
  padding: 10px;
  height: 3%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(270deg, rgb(71, 96, 164), rgb(48, 104, 114) 100%);
  font-weight: 600;
  font-size: 15px;
}
@media (max-width: 1000px) {
  .modal_offer_con .modal_offer_top_znak_buy {
    font-size: 13px;
    padding: 5px;
  }
}
.modal_offer_con .modal_offer_top_category {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: rgba(126, 32, 255, 0.85);
  padding: 5px;
  height: 2%;
  border: 2px solid rgba(126, 32, 255, 0.85);
  border-radius: 20px;
  background: rgba(84, 9, 184, 0.2);
  font-weight: 700;
}
.modal_offer_con .modal_offer_top_price {
  margin-left: auto;
  font-weight: 700;
  color: rgb(226, 226, 226);
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  background: linear-gradient(270deg, rgb(100, 7, 226) 0.422%, rgb(135, 69, 252) 100%);
}
@media (max-width: 1000px) {
  .modal_offer_con .modal_offer_top_price {
    font-size: 15px;
    padding: 10px;
  }
}
.modal_offer_con .modal_offer_h1 {
  font-size: 25px;
  font-weight: 700;
  color: rgb(230, 230, 230);
  cursor: default;
}
@media (max-width: 1000px) {
  .modal_offer_con .modal_offer_h1 {
    font-size: 20px;
  }
}
.modal_offer_con .modal_offer_p {
  margin-top: 1%;
  margin-bottom: 1%;
  border: 1px solid rgba(115, 115, 115, 0.257);
  border-radius: 15px;
  background: rgba(69, 69, 69, 0.247);
  padding: 10px;
  opacity: 0.7;
  cursor: default;
}
.modal_offer_con .modal_offer_p p {
  font-size: 17px;
  font-weight: 550;
  color: rgb(221, 221, 221);
}
@media (max-width: 1000px) {
  .modal_offer_con .modal_offer_p p {
    font-size: 15px;
  }
}
.modal_offer_con .modal_offer_profile {
  gap: 15px;
  display: flex;
  border: 0.5px solid rgba(136, 69, 252, 0.657);
  border-radius: 20px;
  background: linear-gradient(141.22deg, rgba(78, 50, 150, 0.149) -4.655%, rgba(50, 30, 100, 0.159) 134.632%);
  padding: 8px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .modal_offer_con .modal_offer_profile {
    gap: 10px;
  }
}
.modal_offer_con .modal_offer_profile:hover {
  border-radius: 30px;
  border: 0.5px solid rgb(117, 25, 255);
  background: linear-gradient(141.22deg, rgba(80, 46, 166, 0.47) -4.655%, rgba(50, 30, 100, 0.159) 134.632%);
}
.modal_offer_con .modal_offer_profile_ava {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-image: url(../../img/2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1000px) {
  .modal_offer_con .modal_offer_profile_ava {
    width: 55px;
    height: 55px;
  }
}
.modal_offer_con .modal_offer_profile .modal_offer_profile_con1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal_offer_con .modal_offer_profile .modal_offer_profile_con1_name {
  font-weight: 650;
  opacity: 0.85;
  font-size: 20px;
}
.modal_offer_con .modal_offer_profile .modal_offer_profile_con1_con2 {
  display: flex;
  gap: 15px;
}
.modal_offer_con .modal_offer_profile .modal_offer_profile_con1_con2 .modal_offer_profile_otziv,
.modal_offer_con .modal_offer_profile .modal_offer_profile_con1_con2 .modal_offer_profile_id {
  font-size: 15px;
  opacity: 0.5;
  font-weight: 550;
}
.modal_offer_con .modal_offer_con_image {
  margin-top: 1%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal_offer_con .modal_offer_con_image .modal_offer_img_p {
  font-size: 18px;
  font-weight: 600;
  opacity: 0.5;
  margin-bottom: 1%;
  margin-right: auto;
}
.modal_offer_con .modal_offer_con_image .modal_offer_img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../../img/2.jpg);
  background-position: 30% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  padding: 10px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_offer_con .modal_offer_con_image .modal_offer_img::before {
  content: "";
  backdrop-filter: blur(3px);
  position: absolute;
  width: 100%;
  height: 101%;
  border-radius: 30px;
  background-color: rgba(15, 15, 15, 0.87);
}
.modal_offer_con .modal_offer_con_image .modal_offer_img:hover .modal_offer_img_image {
  background-position: 50% 50%;
  height: 100%;
}
.modal_offer_con .modal_offer_con_image .modal_offer_img_image {
  background-image: url(../../img/2.jpg);
  background-position: 30% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  width: 50%;
  height: 90%;
  border-radius: 50px;
}
@media (max-width: 600px) {
  .modal_offer_con .modal_offer_con_image .modal_offer_img_image {
    border-radius: 20px;
    width: 90%;
  }
}
.modal_offer_con .modal_offer_audio {
  width: 100%;
  margin-top: 1%;
}
.modal_offer_con .modal_offer_audio audio {
  width: 100%;
}
.modal_offer_con .modal_offer__button {
  display: flex;
  margin-top: 20px;
  padding: 2%;
  border: 1px solid rgb(129, 66, 216);
  border-radius: 20px;
  box-shadow: 0px 0px 50px 0px rgba(102, 23, 232, 0.6);
  background: linear-gradient(153.55deg, rgba(123, 31, 250, 0.94) 5.771%, rgba(60, 22, 158, 0.94) 128.701%);
  font-weight: 700;
  width: 30%;
  margin-left: auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.modal_offer_con .modal_offer__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
  transform: skewX(-15deg);
  animation: glass-shine 7s infinite ease-in-out;
}
.modal_offer_con .modal_offer__button:hover {
  transform: scale(1.05);
}
@media (max-width: 1900px) {
  .modal_offer_con .modal_offer__button {
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1600px) {
  .modal_offer_con .modal_offer__button {
    width: 40%;
    font-size: 17px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .modal_offer_con .modal_offer__button {
    width: 60%;
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .modal_offer_con .modal_offer__button {
    margin-top: 5px;
    width: 100%;
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }
}

@keyframes glass-shine {
  0% {
    left: -100%;
  }
  20%, 100% {
    left: 150%;
  }
}
span.material-symbols-outlined.filled,
.material-symbols-outlined.filled {
  font-variation-settings: "FILL" 1 !important;
  font-size: 13px;
}/*# sourceMappingURL=market.css.map */