@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manuale:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body.no-scroll {
  overflow: hidden;
}

body {
  overflow-x: hidden;
  padding: 0 0 30px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
  border: 0px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.offer_type,
.offer_category,
.offer_information,
.offer_mediafile,
.offer_screen {
  border: 1px solid rgba(150, 60, 150, 0);
  border-radius: 15px;
  background: rgb(40, 40, 40);
  opacity: 0.9;
  width: 98%;
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 10px;
  cursor: default;
}
.offer_type:hover,
.offer_category:hover,
.offer_information:hover,
.offer_mediafile:hover,
.offer_screen:hover {
  border: 1px solid rgb(122, 34, 255);
}
@media (max-width: 960px) {
  .offer_type,
  .offer_category,
  .offer_information,
  .offer_mediafile,
  .offer_screen {
    padding: 5px 5px;
  }
}

.offer_type_top {
  display: flex;
  gap: 20px;
  align-items: center;
}
.offer_type_top p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50%;
  background: linear-gradient(170.35deg, rgb(91, 30, 248) 5.345%, rgb(116, 60, 241) 91.776%);
}
.offer_type {
  margin-top: 110px;
  gap: 20px;
  height: 300px;
}
@media (max-width: 960px) {
  .offer_type {
    gap: 10px;
    height: auto;
  }
}
.offer_type_top {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 960px) {
  .offer_type_top {
    gap: 10px;
  }
}
.offer_type_top p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50%;
  background: linear-gradient(170.35deg, rgb(91, 30, 248) 5.345%, rgb(116, 60, 241) 91.776%);
}
.offer_type_top h1 {
  font-weight: 700;
  font-size: 22px;
}
@media (max-width: 960px) {
  .offer_type_top h1 {
    font-size: 15px;
  }
}
.offer_type_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 20px;
}
@media (max-width: 960px) {
  .offer_type_grid {
    gap: 10px;
  }
}
@media (max-width: 960px) {
  .offer_type_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.offer_type_items, .offer_type_items_search {
  gap: 20px;
  border: 0.7px solid rgb(109, 109, 109);
  border-radius: 15px;
  background: linear-gradient(144.32deg, rgba(73, 73, 73, 0.868) -19.268%, rgba(50, 50, 50, 0.78) 13.048%, rgba(0, 0, 0, 0.348) 129.738%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 960px) {
  .offer_type_items, .offer_type_items_search {
    gap: 10px;
    padding: 10px;
  }
}
.offer_type_items:hover, .offer_type_items_search:hover {
  transform: scale(1.03);
}
.offer_type_items:hover .material-symbols-outlined, .offer_type_items_search:hover .material-symbols-outlined {
  transform: rotate(80deg);
}
.offer_type_items_h1, .offer_type_items_search_h1 {
  font-weight: 700;
}
.offer_type_items_p, .offer_type_items_search_p {
  font-size: 15px;
  font-weight: 500;
  opacity: 0.7;
  margin-top: -10px;
}
.offer_type_items span, .offer_type_items_search span {
  font-weight: 800;
  font-size: 45px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(229, 229, 229, 0.098);
  transform: rotate(-90deg);
  color: #47a450;
}
.offer_type_items_search {
  border: 2.2px solid rgb(144, 80, 232);
  border-radius: 15px;
  background: linear-gradient(144.46deg, rgba(56, 39, 80, 0.897) -93.378%, rgba(0, 0, 0, 0.485) 285.163%);
}
.offer_type_items_search span {
  font-weight: 800;
  transform: rotate(0deg);
  color: rgb(144, 80, 232);
}

.offer_category {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.offer_category_grid {
  padding: 10px;
  height: 120px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}
@media (max-width: 960px) {
  .offer_category_grid {
    height: 80px;
  }
}
@media (max-width: 500px) {
  .offer_category_grid {
    height: 50px;
  }
}
.offer_category_grid .offer_category_items {
  border-radius: 15px;
  background: linear-gradient(144.32deg, rgba(73, 73, 73, 0.868) -19.268%, rgba(50, 50, 50, 0.78) 13.048%, rgba(0, 0, 0, 0.238) 129.738%);
  border: 0.7px solid rgb(109, 109, 109);
  cursor: pointer;
}
@media (max-width: 500px) {
  .offer_category_grid .offer_category_items {
    border-radius: 10px;
  }
}
.offer_category_grid .offer_category_items:hover {
  transform: scale(1.05);
  border: 2.2px solid rgb(144, 80, 232);
  background: linear-gradient(144.46deg, rgba(56, 39, 80, 0.897) -93.378%, rgba(0, 0, 0, 0.485) 285.163%);
}

.offer_information {
  display: flex;
  flex-direction: column;
}
.offer_information_con {
  width: 100%;
}
.offer_information form {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.486);
  font-weight: 500;
  width: 100%;
}
.offer_information form input,
.offer_information form textarea {
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(144.32deg, rgba(73, 73, 73, 0.868) -19.268%, rgba(50, 50, 50, 0.78) 13.048%, rgba(0, 0, 0, 0.238) 129.738%);
  border: 0.5px solid rgb(109, 109, 109);
  padding: 20px;
  margin-top: 5px;
}
@media (max-width: 960px) {
  .offer_information form input,
  .offer_information form textarea {
    padding: 10px;
    font-size: 15px;
  }
}

.media_con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 20px;
  border: 2.2px solid rgb(144, 80, 232);
  border-radius: 20px;
  background: linear-gradient(144.46deg, rgba(56, 39, 80, 0.897) -93.378%, rgba(0, 0, 0, 0.485) 285.163%);
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}
.media_con:hover {
  background: linear-gradient(144.46deg, rgba(33, 23, 47, 0.897) -93.378%, rgba(0, 0, 0, 0.485) 285.163%);
}
.media_con span {
  font-size: 40px;
  font-weight: 700;
  color: #7e20ff;
}
.media_con p {
  font-size: 15px;
  width: 200px;
  text-align: center;
  font-weight: 500;
  opacity: 0.8;
}
.media_con button {
  padding: 10px 20px;
  border-radius: 20px;
  background: linear-gradient(160deg, rgb(107, 0, 184), #7e20ff);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.media_con button span {
  font-weight: 700;
  color: white;
  font-size: 25px;
}
.media_con button:hover {
  background: linear-gradient(160deg, rgb(69, 1, 118), rgb(85, 13, 185));
  transform: scale(1.01);
}

.media_p {
  width: 100%;
  margin-top: 5px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.media_p p {
  cursor: default;
  font-size: 15px;
  opacity: 0.8;
  font-weight: 500;
}
@media (max-width: 960px) {
  .media_p p {
    font-size: 10px;
  }
}

.offer_screen {
  display: flex;
  flex-direction: column;
}

.con_offers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer {
  width: 100%;
  height: auto;
  width: 60%;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  background: rgb(38, 38, 38);
  background: rgb(52, 52, 52);
  border: 1px solid rgba(102, 0, 255, 0);
  cursor: pointer;
}
@media (max-width: 800px) {
  .offer {
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .offer {
    padding: 5px;
  }
}
.offer:hover {
  border: 1px solid #6600ff;
  transform: scale(1.02);
}
.offer_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: normal;
}
.offer_top_block {
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 15px;
  background: linear-gradient(270deg, rgb(71, 164, 80), rgb(48, 114, 79) 100%);
  font-weight: 700;
}
@media (max-width: 800px) {
  .offer_top_block {
    padding: 10px 10px;
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  .offer_top_block {
    padding: 8px 8px;
    font-size: 8px;
  }
}
.offer_top .offtb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: normal;
  width: auto;
  height: 25px;
  font-weight: 600;
  padding: 12px;
  font-size: 10px;
  margin-right: auto;
  margin-left: 10px;
  box-sizing: border-box;
  border: 0.7px solid rgba(126, 32, 255, 0.85);
  border-radius: 15px;
  background: rgba(84, 9, 184, 0.2);
  color: rgb(132, 60, 233);
}
@media (max-width: 800px) {
  .offer_top .offtb {
    padding: 10px 10px;
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  .offer_top .offtb {
    padding: 8px 8px;
    font-size: 8px;
  }
}
.offer_top .offtbb {
  font-weight: 700;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(270deg, rgb(100, 7, 226) 0.422%, rgb(135, 69, 252) 100%);
  font-size: 15px;
}
@media (max-width: 800px) {
  .offer_top .offtbb {
    padding: 10px 10px;
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  .offer_top .offtbb {
    padding: 8px 8px;
    font-size: 8px;
  }
}
.offer_h1 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
}
@media (max-width: 800px) {
  .offer_h1 {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .offer_h1 {
    font-size: 10px;
  }
}
.offer_p {
  margin-top: 8px;
  opacity: 0.6;
  text-align: left;
  font-weight: 600;
  font-size: 13px;
}
@media (max-width: 800px) {
  .offer_p {
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  .offer_p {
    font-size: 8px;
  }
}
.offer_profile {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: stretch;
  gap: normal;
  padding: 10px;
  border-radius: 20px;
  background: rgba(102, 102, 102, 0.2);
  margin-top: 10px;
}
@media (max-width: 800px) {
  .offer_profile {
    padding: 5px;
  }
}
@media (max-width: 500px) {
  .offer_profile {
    padding: 3px;
  }
}
.offer_profile_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media (max-width: 800px) {
  .offer_profile_avatar {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 500px) {
  .offer_profile_avatar {
    width: 30px;
    height: 30px;
  }
}
.offer_profile_con {
  margin-left: 10px;
}
.offer_profile_con_nickname {
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
}
@media (max-width: 800px) {
  .offer_profile_con_nickname {
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  .offer_profile_con_nickname {
    font-size: 8px;
  }
}
.offer_profile_con_otziv {
  font-size: 12px;
  opacity: 0.8;
  margin-top: 4px;
  font-weight: 600;
}
@media (max-width: 800px) {
  .offer_profile_con_otziv {
    font-size: 8px;
  }
}
@media (max-width: 500px) {
  .offer_profile_con_otziv {
    font-size: 5px;
  }
}/*# sourceMappingURL=create.css.map */